{%extends "base.html"%}
{% block body %}
<div class = "container">
    <h2>Enter a new password</h2>
    <form action = "resetpassword" method = "post">
        <input 
        type = "password" 
        name = "new_password" 
        id = "new_password"
        placeholder="new password
        "/>
        <input 
        type = "password" 
        name = "confirm_new_password" 
        id = "cpnfirm_new_password"
        placeholder="new password
        "/>
        <input type="submit" name="Reset Password">


    </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, msg in messages %}
      <div class="alert alert-{{ category }}">{{ msg }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>
{% endblock %}